
@media (max-width: 991.98px) {
    /* About */
    .about-details-contanier,
    .about-containers {
        display: block;
    }

    .section-container {
        display: block;
        align-items: center;
        justify-content: center;
    }
    .details-container {
        margin-top: 20px;
        width: 668px;
    }

    .about-image {
        display: block;
        height: 40vh;
        margin: auto;
    }  

    .contaianer-Skill{
        width: 568px;
        margin-left: 73px;
    }
    
    

}

@media (max-width: 800.98px) {

    /* About */
    .about-details-contanier,
    .about-containers {
        display: block;
    }

    .section-container {
        display: block;
        align-items: center;
        justify-content: center;
    }

    .details-container {
        margin-top: 20px;
        width: 650px;
    }

    .about-image {
        display: block;
        height: 40vh;
        margin: auto;
    }  

    .contaianer-Skill{
        width: 515px;
        margin-left: 100px;
    }

    .Arrow-Container{
        display: none;
    }
    

}


@media (max-width: 765.98px) {

    /* About */
    .about-details-contanier,
    .about-containers {
        display: block;
    }

    .section-container {
        display: block;
        align-items: center;
        justify-content: center;
    }

    
    .details-container {
        margin-top: 20px;
        width: 495px;
    }

    .about-image {
        display: block;
        height: 40vh;
        margin: auto;
    }  

    .contaianer-Skill{
        width: 515px;
        margin-left: 10px;
    }
    .Arrow-Container{
        display: none;
    }

}

@media (max-width: 600.98px) {

    /* About */
    .about-details-contanier,
    .about-containers {
        display: block;
    }

    .section-container {
        display: block;
        align-items: center;
        justify-content: center;
    }

    .details-container {
        margin-top: 20px;
        width: 472px;
    }

    .about-image {
        display: block;
        height: 35vh;
        margin: auto;
    }    
    
    .contaianer-Skill{
        width: 438px;
        margin-left: 50px;
    }
    
    .Arrow-Container{
        display: none;
    }

}


@media (max-width: 555.98px) {

    /* About */
    .about-details-contanier,
    .about-containers {
        display: block;
    }

    .section-container {
        display: block;
        align-items: center;
        justify-content: center;
    }


    .details-container {
        margin-top: 20px;
        width: 418px;
        font-size: small;
    }

    .about-image {
        display: block;
        height: 30vh;
        margin: auto;
    }    

    .contaianer-Skill{
        width: 387px;
        margin-left: 50px;
    }

    .Arrow-Container{
        display: none;
    }


}

@media (max-width: 476px) {


    /* About */
    .about-details-contanier,
    .about-containers {
        display: block;
    }

    .section-container {
        display: block;
        align-items: center;
        justify-content: center;
    }

    .details-container {
        margin-top: 20px;
        margin-left: 0px;
        width: 358px;
        font-size: small;
    }

    .about-image {
        display: block;
        height: 20vh;
        margin: auto;
    }

    .contaianer-Skill{
        width: 354px;
        margin-left: 34px;
    }

    .Arrow-Container{
        display: none;
    }
}



@media (max-width: 390px) {

    /* About */
    .about-details-contanier,
    .about-containers {
        display: block;
    }

    .section-container {
        display: block;
        align-items: center;
        justify-content: center;
    }

    .details-container {
        margin-top: 20px;
        margin-left: -9px;
        width: 305px;
    }

    .about-image {
        display: none;
      
    }
    .Arrow-Container{
        display: none;
    }
    .contaianer-Skill {
        width: 269px;
        margin-left: 48px;
    }
}

@media (max-width: 290px) {

    /* About */
    .about-details-contanier,
    .about-containers {
        display: block;
    }

    .section-container {
        display: block;
        align-items: center;
        justify-content: center;
    }

    .details-container {
        margin-top: 20px;
        margin-left: -9px;
        width: 235px;
    }

    .about-image {
        display: none;
      
    }
    .Arrow-Container{
        display: none;
    }
    .contaianer-Skill {
        width: 215px;
        margin-left: 33px;
    }
}

