
@media (max-width: 991.98px) {

    .button-dowanlod-CV{
        display: block;
        margin-top: 30px;
        margin-left: 1px;
    }
    
    .image-resize{
        height: 44vh;
        margin: auto;
        display: block;
    }
    /* About */
    .about-details-contanier,
    .about-containers {
        display: block;
        margin: auto;

        
    }

    .section-container {
        display: block;
        align-items: center;
        justify-content: center;
    }
    .details-container {
        display: block;
        margin: auto;
        width: 668px;
        margin-top: 20px;
    }

    .about-image {
        display: block;
        height: 40vh;
        margin: auto;
    }  

    .contaianer-Skill{
        width: 568px;
        margin-left: 73px;
    }
    
    

}

@media (max-width: 800.98px) {

    /* About */
    .about-details-contanier,
    .about-containers {
        display: block;
        margin: auto;

    }

    .section-container {
        display: block;
        align-items: center;
        justify-content: center;
    }

    .details-container {
        display: block;
        margin: auto;    
        width: 650px;
        margin-top: 20px;
    }

    .about-image {
        display: block;
        height: 40vh;
        margin: auto;
    }  

    .contaianer-Skill{
        width: 515px;
        margin-left: 100px;
    }

    .Arrow-Container{
        display: none;
    }
    

}


@media (max-width: 765.98px) {

    #waving-resize{
       display: none;
    }
    

    .Hamberger {
        
        visibility: visible;
        display: inline;
        transition: all 0.3s ease-in;
    }

    .Hamberger.active .bar:nth-child(2) {
        opacity: 0;
        
    }

    .Hamberger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .Hamberger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .Navigation a{
        color: white;
        font-weight: bold;
    }
    .homepage-content{
        margin-top: 40px;
    }
    .Navigation {
        position: absolute;
        left: -100%;
        top: 70px;
        gap: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;

        transition: 0.3s;

    }

    .Navigation a:hover{
        text-decoration: none;
        color: white;
    }

    .Navigation {
        margin: 20px 0;
    }

    .Navigation.active {
        left: 0;
        margin-left: -15px;
    }
    .nav-links{
        background-color: transparent;
        text-decoration: none;
        border: 1px solid rgb(149, 149, 149);
        
        
    }
    .Navigation a.nav-links-active{
        color: white;
        font-weight: bold;
        background-color: transparent;
        text-decoration: none;
        border: 1px solid rgb(149, 149, 149);
    }

    .Navigation a.nav-links-active :hover{
        color: rgb(26, 24, 24);
    }


    .homepage-container{
        display: block;
    }
    .image-resize{
        height: 44vh;
        margin: auto;
        display: block;
    }
    .button-dowanlod-CV{
        margin-left: 1px;
    }

    /* About */
    .about-details-contanier,
    .about-containers {
        display: block;
        margin: auto;

    }

    .section-container {
        display: block;
        align-items: center;
        justify-content: center;
    }
    .details-container {
        display: block;
        margin: auto;
        width: 495px;
        margin-top: 20px;
    }

    .about-image {
        display: block;
        height: 40vh;
        margin: auto;
    }  

    .contaianer-Skill{
        width: 515px;
        margin-left: 17px;
    }
    .Arrow-Container{
        display: none;
    }
    .card-of-projects{
        margin-left: 67px;
    }

    .contaner-box{
        width: 489px;
    }
    .contaner-box a{
        font-size: small;
    }
    .about-P{
        margin-top: 40px;
        margin-left: 20px;
    }
}

@media (max-width: 600.98px) {

    .image-resize{
        height: 31vh;
        margin: auto;
        display: block;
    }
    
    /* About */
    .about-details-contanier,
    .about-containers {
        display: block;
        margin: auto;

    }

    .section-container {
        display: block;
        align-items: center;
        justify-content: center;
    }

    .details-container {
        display: block;
        margin: auto;
        width: 500px;
        margin-top: 20px;
    }

    .about-image {
        display: block;
        height: 35vh;
        margin: auto;
    }    
    
    .contaianer-Skill{
        width: 438px;
        margin-left: 65px;
    }
    
    .Arrow-Container{
        display: none;
    }

    #Projects{
        width: 400px;
    }
    .card-of-projects{
        margin-left: -14px;
    }
    .contaner-box a{
        font-size: small;
    }
}


@media (max-width: 555.98px) {

    .image-resize{
        height: 31vh;
        margin: auto;
        display: block;
    }
    
    /* About */
    .about-details-contanier,
    .about-containers {
        display: block;
        margin: auto;

    }

    .section-container {
        display: block;
        align-items: center;
        justify-content: center;
    }


    .details-container {
        display: block;
        margin: auto;
        width: 418px;
        font-size: small;
        margin-top: 20px;
    }

    .about-image {
        display: block;
        height: 30vh;
        margin: auto;
    }    

    .contaianer-Skill{
        width: 387px;
        margin-left: 50px;
    }

    .Arrow-Container{
        display: none;
    }


}

@media (max-width: 476px) {

    .image-resize{
        height: 31vh;
        margin: auto;
        display: block;
    }
    /* About */
    .about-details-contanier,
    .about-containers {
        display: block;
        margin: auto;
    }

    .section-container {
        display: block;
        align-items: center;
        justify-content: center;
    }

    .details-container {
        display: block;
        margin: auto;
        width: 358px;
        font-size: small;
        margin-top: 20px;
    }

    .about-image {
        display: block;
        height: 20vh;
        margin: auto;
    }

    .contaianer-Skill{
        width: 354px;
        margin-left: 34px;
    }

    .Arrow-Container{
        display: none;
    }

    .contaner-box{
        width: 384px;
    }
 
}



@media (max-width: 390px) {

    .image-resize{
      display: none;
    }
    /* About */
    .about-details-contanier,
    .about-containers {
        display: block;
        margin: auto;

    }

    .section-container {
        display: block;
        align-items: center;
        justify-content: center;
    }

    .details-container {
        display: block;
        margin: auto;
        width: 305px;
        margin-top: 20px;
    }

    .about-image {}
    .Arrow-Container{
        display: none;
    }
    .contaianer-Skill {
        width: 269px;
        margin-left: 48px;
    }
    .card-of-projects{
        margin-left: -30px;
        width: 15rem;
    }
    #Projects{
        width: 300px;
    }

    
    .contaner-box{
        height: 100px;
        width: 200px;
    }

}

@media (max-width: 290px) {
     .image-resize{
      display: none;
    }
    /* About */
    .about-details-contanier,
    .about-containers {
        display: block;
        margin: auto;

    }

    .section-container {
        display: block;
        align-items: center;
        justify-content: center;
    }

    .details-container {
        display: block;
        margin: auto;
        width: 235px;
        margin-top: 20px;
    }

    .about-image {
        display: none;
      
    }
    .Arrow-Container{
        display: none;
    }
    .contaianer-Skill {
        width: 215px;
        margin-left: 33px;
    }

    .card-of-projects{
         width: 14rem;
         margin-left: -34px;
    }
    #Projects{
        width: 300px;
        height: fit-content;
    }
}

/* sssssssssssssssssss */