
@media(max-width:768px) {
    .Hamberger {
        visibility: visible;
        display: inline;
        transition: all 0.3s ease-in;
    }

    .Hamberger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .Hamberger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .Hamberger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .Navigation {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .Navigation a:hover{
        text-decoration: none;
        
    }

    .Navigation {
        margin: 20px 0;
    }

    .Navigation.active {
        left: 0;
        margin-left: -15px;
    }
    .nav-links{
        background-color: transparent;
        text-decoration: none;
        border: 1px solid rgb(149, 149, 149);
        
       
       
    }
   
    .homepage-container{
        display: block;
    }
    .image-resize{
        height: 80vh;
        margin-left: 150px;
    }
    .button-dowanlod-CV{
        margin-left: 1px;
    }
}


 @media (max-width: 767.98px) { 
    .button-dowanlod-CV{
        display: block;
        margin-top: 30px;
        margin-left: 1px;
    }
    .image-resize{
        height: 60vh;
        margin-left: 42px;
    }
 }


@media (max-width: 991.98px) { 
    .button-dowanlod-CV{
        display: block;
        margin-top: 30px;
        margin-left: 1px;
    }
    
    .image-resize{
        height: 80vh;
    }
}


@media (max-width: 1199.98px) { 
    .button-dowanlod-CV{
        display: block;
        margin-top: 30px;
        margin-left: 1px;
    }
    .image-resize{
        height: 30vh;
        margin-left: 54px;
    }
 }

 @media (max-width: 575.98px) {
    .button-dowanlod-CV{
        display: block;
        margin-top: 30px;
        margin-left: 1px;
    }
    .image-resize{
        height: 25vh;
         margin-left: 79px;
      
    }
  }
  @media (max-width: 476px) {
    .button-dowanlod-CV{
        display: block;
        margin-top: 30px;
        margin-left: 1px;
    }
    .image-resize{
        height: 26vh;
        margin-left: 22px;
    }
    
  }

  @media (max-width: 390px) {
    .button-dowanlod-CV{
        display: block;
        margin-top: 30px;
        margin-left: 1px;
    }
    .image-resize{
        height: 25vh;
        margin-left: 53px;
    }
    
  }

  @media (max-width: 380px) {
    .button-dowanlod-CV{
        display: block;
        margin-top: 30px;
        margin-left: 1px;
    }
    .image-resize{
       display: none;
    }
    
  }